<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index_style.css">
    <title>Home</title>
</head>

<body>
    <div class="header">
        <div class="logo-container">
            <div class="logo">
                <img src="../static/IITM_logo.png" alt="College Logo">
            </div>
        </div>
    </body>
    <h1>Welcome to the Library Management System</h1>
    <p>
        <a href="/user/login" class="button">User</a>
        <a href="/librarian/login" class="button">Librarian</a>
    </p>
</body>
</html>