<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/librarian_register_style.css">
    <title>Section Books</title>
</head>

<body>
    <div class="header">
        <div class="logo-container">
            <div class="logo">
                <img src="../static/IITM_logo.png" alt="College Logo">
            </div>
            <div class="college-details">
                <div class="course-code">Library Management System</div>
                <div class="course-name">Librarian Dashboard</div>
            </div>
        </div>
        <div class="links">
            <a href="/librarian/dashboard" class="link">Section</a>
            <a href="/librarian/process_request" class="link">Book Requests</a>
            <a href="/librarian/new" class="link">Librarian</a>
            <a href="/logout" class="link">Logout</a>
        </div>
    </div>
    <div class="card">
        <h2 class="card-title">Librarian Register</h2>
        <form action="/librarian/register" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-register">Register</button>
        </form>
    </div>
    <div class="footer"></div>
</body>
</html>