.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d6a44d;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #d6a44d;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.biography {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
    font-family: 'Arial', sans-serif;
}

p {
    color: #555;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    margin-right: 10px;
}

.course-details {
    text-align: center;
}

.course-code {
    font-size: 24px;
}

.course-name {
    font-size: 18px;
}

.links {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

.add-section-box {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #555;
    background-color: #f2f2f2;
}
        
.add-section-box:hover {
    box-shadow: 0 0 20px #888;
    background-color: #fff;
}
        
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
        
.section-box {
    position: relative;
    width: calc(30% - 20px);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #555;
    background-color: #f2f2f2;
    box-sizing: border-box;
}
        
.section-box:hover {
    box-shadow: 0 0 20px #888;
    background-color: #fff;
}
        
.section-box-content {
    margin-bottom: 10px;
}
        
.accept-btn,
.reject-btn,
.revoke-btn {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
        
.revoke-btn,
.reject-btn {
    background-color: red;
}

.table-box {
    position: relative;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #555;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.table-box:hover {
    box-shadow: 0 0 20px #888;
    background-color: #fff;
}

.table-content {
    margin-bottom: 10px;
}

.table-box {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f2f2f2;
    background-color: #f2f2f2;
}

.table-box h2 {
    margin-bottom: 20px;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
}

.table-content th,
.table-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-content th {
    background-color: #f2f2f2;
    color: #333;
}

.table-content tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-content tr:hover {
    background-color: #f2f2f2;
}